*{
	font-family:"Microsoft Yahei","Hiragino Sans GB",SimSun,Arial,"Helvetica Neue",Helvetica;
}
.searchForm{
	width:98%;
	border:1px solid #9E9E9E;;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-bottom:20px;
}

.btn{
	width: 55px;
	font-size: 15px;
	line-height: 20px;
	height: 20px;
	display: block;
	text-align:center;
	text-decoration: none;
	border:1px solid #eee;
	float:left;
	margin-left:10px;
}

.btn:hover{
	text-decoration: none;
}

.btn-ok{
    color: #fff;
    background-color: #2196F3;
}

.dataForm table{
	width:100%;
}


.dataForm{
	width:98%;
	border:1px solid #9E9E9E;;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.dataForm table tr{
	border-bottom:1px solid #2196F3;
}

th{
	text-align:center;
}

td{
	text-align:center;
}
.titleth{
	background-color: #00BCD4;
	color:#fff;
}

.pg{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}

#_page{
	float:right;
}

#_go_page{
	width:50px;
}